* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
  color: #fcfcfc;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
  color: #fcfcfc;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}

.topnav {
  background: transparent;
  overflow: hidden;
}

body, html {
  height: 100%;
}

nav{
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  background-color: #f875c8;
  z-index: 1000;
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(red, green, blue);
    padding: 20px 40px;
    color: white;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    z-index: 10;
}
p.logo {
  height: -10px;
  margin-top: 0;
}

.topnav a {
  float: left;
  color: #fcfcfc;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.topnav a:hover {
  background-color:  #f8c0e3;
  color: black;
  border-radius: 30%;
}

.topnav a.split {
  float: right;
  background-color:  #f752ba;
  color: white;
  border-radius: 30%;
  padding: 10px 20px;
  text-decoration: none;
}

/* header {
      background-color: #f875c8;
      color: white;
      padding: 20px 20px;
      text-align: center;
      border-radius: 15%;
} */

  .btn-right{
    float: right;
    height: 50px;
    border: none;
    color :rgb(243, 240, 241);
    background-color:#f752ba;
    text-decoration: none;
    font-size: 15px;
    padding: 15px;
    border-radius: 40px;
    scroll-behavior: smooth;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.btn-right:hover{
    background-color: rgb(245, 214, 242);
    color: rgb(237, 86, 212);
}
