 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Segoe UI', sans-serif;
 }
 footer {
     background-color: #d6d5d5;
     padding: 50px 20px;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     color: #444444;
 }

 .footer-col {
     flex: 1 1 220px;
     margin: 10px;
 }

 .footer-col h2,
 .footer-col h4 {
     font-size: 18px;
     font-weight: bold;
     margin-bottom: 20px;
     color: #3d3d3d;
 }

 .footer-col p,
 .footer-col a {
     font-size: 14px;
     line-height: 1.7;
     color: #5a595a;
     text-decoration: none;
 }

 .social-icons a {
     margin-right: 10px;
     font-size: 18px;
     color: #2c2c2c;
 }

 .newsletter input[type="email"] {
     padding: 10px;
     width: 65%;
     border: 1px solid #fb5d5d;
     border-radius: 4px;
     margin-right: 5px;
     background-color: #fffdfe;
 }

 .newsletter button {
     padding: 10px 15px;
     border: none;
     background-color: #737272;
     color: white;
     cursor: pointer;
     border-radius: 4px;
 }

 .bottom-footer {
     text-align: center;
     font-size: 12px;
     color: #282828;
     margin-top: 30px;
     background-color: #e0ddde;
     padding: 10px 0;
 }

 .bottom-footer a {
     color: #fc4747;
     text-decoration: none;
 }

 i {
     color: rgb(44, 44, 44);
 }